future
emoji
requests
sqlalchemy
python-telegram-bot
psycopg2-binary
feedparser
pyowm
googletrans
wikipedia
Pillow
alphabet_detector
tldextract
coffeehouse
lxml
python-rapidjson
hurry.filesize
PyAML
markdown2
aiohttp
tldextract
pytz
gtts
urbandict
